<!-- app.component.html -->
<main class="main">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <!-- Tarjeta de bienvenida -->
        <div class="card shadow-lg border-light mb-5">
          <div class="card-body">
            <h2 class="card-title text-center text-dark py-4">{{ title }}</h2>
            <div class="text-center py-3">
              <button routerLink="/productos" class="btn btn-primary btn-lg me-3">Ver productos</button>
              <button routerLink="/productoNuevo" class="btn btn-success btn-lg">Añadir producto</button>
            </div>
          </div>
        </div>

        <!-- Aquí se insertan las vistas de las rutas -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>
