<div class="container mt-4">
    <h2>Agregar Producto</h2>
    <form (ngSubmit)="saveProduct()">
      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" [(ngModel)]="product.nombre" name="nombre" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Descripción</label>
        <input type="text" class="form-control" [(ngModel)]="product.descripcion" name="descripcion">
      </div>
      <div class="mb-3">
        <label class="form-label">Precio</label>
        <input type="number" class="form-control" [(ngModel)]="product.precio" name="precio" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Stock</label>
        <input type="number" class="form-control" [(ngModel)]="product.stock" name="stock" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Categoría</label>
        <input type="text" class="form-control" [(ngModel)]="product.categoria" name="categoria">
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
  </div>