<div class="container mt-4">
    <h2>Lista de Productos</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Stock</th>
          <th>Categoría</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.id }}</td>
          <td>{{ product.nombre }}</td>
          <td>{{ product.descripcion }}</td>
          <td>{{ product.precio }}</td>
          <td>{{ product.stock }}</td>
          <td>{{ product.categoria }}</td>
        </tr>
      </tbody>
    </table>
  </div>
